{% extends "layout.twig" %}

{% block title %}다트 직원 평균 임금 분석{% endblock %}

{% block content %}
<h1>다트 직원 평균 임금 분석</h1>
<p class="important">
    일단 안녕하세요.
</p>

    <form action="/corporations" method="post">
        <button type="submit">기업 정보 갱신</button>
    </form>
{% endblock %}