<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} | Mytory Dart</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    @Mytory Dart
</div>
</body>
</html>